$pink: #ef3365;
$grey: #868c92;
$white: #fff;
$black: #18191b;
$blue: #1ec3c7;

// start media

@mixin screen($property, $value1, $value2, $value3, $value4) {
  @media (max-width: 576px) {
    #{$property}: $value1;
  }

  @media (min-width: 577px) {
    #{$property}: $value2;
  }

  @media (min-width: 768px) {
    #{$property}: $value3;
  }

  @media (min-width: 992px) {
    #{$property}: $value4;
  }
}

//end media
::selection {
  color: white;
  background: $pink;
  }

.about,
.skills,
.portfolio,
.contact {

  position: relative;
  background: #293742;
  background-image: -moz-radial-gradient(
    circle farthest-corner at 50% 120%,
    #4f6373 30%,
    #293742 77.2%
  );
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 50% 120%,
    #4f6373 30%,
    #293742 77.2%
  );
  background-image: radial-gradient(
    circle farthest-corner at 50% 120%,
    #4f6373 30%,
    #293742 77.2%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f6373",endColorstr="#293742",GradientType=1);
  z-index: 0;
  &:after {
    content: "portfolioportfolio";
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    font-size: 20vw;
    opacity: 0.2;
    color: #4f6373;
    z-index: -1;
  }
  overflow: hidden;
  @include screen(padding,1.5rem 0 ,2rem 0 ,2.2rem 0 ,2.5rem 0 );  

}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .img img {
      display: block;
      @include screen(width,70% ,60% ,90% ,100% );  
      @include screen(margin,1.5rem auto ,2rem auto ,0 0 0 auto ,0 0 0 auto );

    }
    .text-about {
      margin: auto;
      h2 {
        color: $pink;
        @include screen(font-size,3rem ,3rem ,3.5rem ,4rem );  
        font-weight: bold;
      }
      p {
        color: white;
        @include screen(font-size,1.5rem ,1.5rem ,1.7rem ,2rem );  
        font-size: 2rem;
        
        span {
          cursor: pointer;
          color: $pink;
        }
      }
    }
  }
  .footer{
    bottom: 0;
    
      margin: auto 0 0  0;
      position: absolute;
      bottom: 0;
      right: 15px;
      @include screen(bottom,1.5rem ,2rem ,2.2rem ,2.5rem );  
    
  
  }
}

// skills

.skills {
  .skills-icon {
    @include screen(padding,3rem  0 ,4rem  0 ,4.2rem  0,4.5rem  0);  

  }
  ul {
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    li {
      border: 1px solid;
      max-width: unset;
      h6 {
        color: $blue;
      }
      .text {
        font-weight: bold;
        color: #425362;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 3px 4px 5px 4px;
        font-size: 1rem;
        width: max-content;
        margin: 9px auto;
      }
    }
  }
}

.portfolio {
  .carousel {
    @include screen(margin,3rem  0 ,4rem  0 ,4.2rem  0,4.5rem  0);      
    width: 100%; /*width of container*/
    height: 24rem;
    user-select: none;
    position: relative;
    overflow: hidden;
    cursor: grab;
    color: white;
    .get,
    .demo {
      background-color: rgba(3, 3, 3, 0.3);
      color: white;
      bottom: 1rem;
      position: absolute;
      &:hover {
        background-color: rgba(200, 200, 200, 0.3);
      }
    }
    .get {
      left: 5rem;
    }
    .soon {
      display: block;
      width: 80%;
    }
  }



  .carousel-cell {
    height: 100%;
    .use {
      display: flex;
      .icon {
        margin-right: 5px;
      }
      .ticon {
        line-height: 1;
        font-weight: bold;
      }
    }
    .card-title {
      font-weight: bold;
    }
    .card-text {
      margin-bottom: 0;
      a {
        color: $pink !important;
      }
    }
    .card-body {
      height: 15rem;
    }
    .ul-animation {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
    .one .card-body {
      background-color: #513b9f;
    }
    .two .card-body {
      background-color: #3c5879;
    }
    .three .card-body {
      background-color: #57b9b4;
    }
    .four .card-body {
      background-color: #5aaa75;
    }
    .five .card-body {
      background-color: #aa3030;
    }
    .six .card-body {
      background-color: #eca74f;
    }
    .seven .card-body {
      background-color: #cac02e;
    }
  }
}

// contact
.contact {
  
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-body {
    h3{@include screen(font-size,1.3rem ,1.5rem,1.8rem,2rem);}
    @include screen(margin,3rem  0 0 ,4rem  0 0 ,4.2rem  0 0,4.5rem  0 0);  
    background-color: $black;
    color: white;
    @include screen(padding,1rem 2rem ,1rem 3rem,1rem 4rem ,1rem 5rem );
    border-radius: 1rem;

    .follow {
      margin-top: auto;
      margin-bottom: auto;
      @include screen(padding,0 ,0.5rem,0.8rem ,1rem );
      text-align: center;
     .icons{
      @include screen(padding,0 ,0.5rem,0.8rem ,1rem );
       a{
         transition: all 0.3s ease-in-out ;
         position: relative;
         top: 0;

         &:hover{
          top: -5px;
         }
       }
     }
  
      .icons .icon {
        background-color: #fff;
        border-radius: 50%;
        @include screen(font-size,1rem ,1rem,1.5rem ,2rem );
        @include screen(width,2rem ,2rem,3rem ,4rem );
        @include screen(height,2rem ,2rem,3rem ,4rem );

        text-align: center;
        line-height: 2;
        margin-right: 7px;
        color: $pink;
      }
    }
hr{
  background-color: $pink;
}
    .freelance {
      .icons{
        padding-top: 1rem;
        padding-bottom: 1rem;
        a {
          background: url(img/brands.png)  no-repeat;
          height: 53px;
          display: inline-block;
          width: 54px;
          &.Mostaql{background-position: 0px -54px;}
          &.Baaeed{background-position: 0px 0px;}
          &.Nafezly{background-position: 0px -160px;}
          &.Khamsat{background-position: 0px -107px;}
          
          }
      }
      
    }
    
    }
    .phone-message{
      // @include screen(margin-bottom,3rem ,4rem  ,4.2rem ,4.5rem);  
      margin-bottom:1rem;
      span {
        color: white;
        font-size: 12px;
        i {
          margin-right: 10px;
        }
      }
    }
    .copy {
      font-size: 12px;
      margin-top: auto;
      display: flex;
      justify-content: space-between;
     
      h6 {
        color: $grey;
        font-size: 12px;
        padding: 0;
        margin: 0;
        i {
          color: $pink;
        }
      }
     
    
    
  }

  }

  
// global component


.navbar{
  background-color: rgba(30 ,195, 199 , 64%);
  @include screen(padding , 0 ,0 ,0.5rem 1rem,0.5rem 1rem);   
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  .logo {
    color: white;
    position: relative;
    font-weight: bold;
    @include screen(font-size,1.5rem ,1.8rem ,2rem ,2rem ); 
      padding: 0;
    &:hover{
      color: $pink;
    }
    &:after {
      content: "";
      background: $pink !important;
      width: 5px;
      height: 5px;
      position: absolute;
      bottom: 10px;
      border-radius: 50%;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      color: white;
      cursor: pointer;
      @include screen(margin-left, 0 , 0 , 2rem , 2rem ); 
      &:hover ,&.active{
        @include screen(background-color, $pink , $pink ,initial ,initial ); 

      }
      &:hover span,&.active span {
        text-shadow: 1px 1px 1px $pink;
      }
      &.active i,&:hover i{
        background-color: $pink;
      }
      i {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 2;
        position: relative;
        text-align: center;
    
        
        
      }
      span {
        // opacity: 0;
        transition: all 0.6s;
        text-align: left;
        

      }

  
    }

  }
}

.footer {
  text-align: right;
 
  h1 {
    color: white;
    @include screen(font-size,2.5rem ,3rem ,3.5rem ,4rem );  
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1;
  }
  span {
    content: "";
    background: $pink;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    line-height: 1;
  }
}
